.topicContainer {
  cursor: pointer;
  width: 273px;
  border-radius: 5px;
  aspect-ratio: 16/9;
  background-color: #292932;
  border: solid white 0.2px;
  margin: 8px;
  color: white;
  padding: 8px 4px;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  box-shadow: 4px 4px black;
}

.topicContainer:hover {
  box-shadow: 8px 8px black;
  transform: translateY(-2px, -2px);
}
.topicContainer h3 {
  margin: 3px;
}

.playerWrapper {
  position: relative;
  height: 100%;

  border-radius: 22px;
  overflow: hidden;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

.gridPlayerWrapper {
  pointer-events: none;
}

.reactPlayer {
  position: absolute;
  top: 0;
  left: 0;
}

.reactPlayer video {
  position: relative;
  left: 0;
  top: 0;
  transform: none;
}

@media only screen and (max-width: 777px) {
  .playerWrapper {
    width: 100%;
  }
}
