.topicContainer {
  cursor: pointer;
  width: 400px;
  border-radius: 5px;
  aspect-ratio: 16/9;
  background-color: #292932;
  border: solid white 0.2px;
  margin: 8px;
  color: white;
  padding: 8px 4px;
  text-align: center;
  display: inline-block;
  box-shadow: 4px 4px black;
  transition: width 3s;
  position: relative;
}

.closeBtn {
  position: absolute;
  right: 44px;
  top: 6px;
  width: 10px;
  height: 10px;
}

.closeBtn:hover {
  color: orange;
}

.topicContainer:hover {
  box-shadow: 8px 8px black;
  transform: translateY(-2px, -2px);
}

.mediatypeTitle {
  margin: 3px;
  text-transform: uppercase;
  cursor: pointer;
}
.mediatypeTitle:hover {
  color: orange;
}

.playerWrapper {
  position: relative;
  height: 100%;
  border-radius: 22px;
  overflow: hidden;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  z-index: 1;
}

.ghostDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 10;
}

.ghostDiv:hover {
  cursor: pointer;
}

.hiddenDiv {
  display: none;
}

.reactPlayer {
  position: absolute;
  top: 0;
  left: 0;
}

.reactPlayer video {
  position: relative;
  left: 0;
  top: 0;
  transform: none;
}

.descriptionContainer {
  opacity: 1;
  transition: opacity 4s;
}

@media only screen and (max-width: 777px) {
  .playerWrapper {
    width: 100%;
  }
}
