.btn {
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  opacity: 1;
  animation: fadeIn 2s;
  font-family: 'Ubuntu', sans-serif;
}

.btn:hover {
  filter: brightness(85%);
  box-shadow: 2px 2px black;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
