.btn {
  background-color: black;
  color: white;
  padding: 8px 12px;
  margin: 0 3px;
  border: 1px var(--orange) solid;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
}

.btn:hover {
  color: var(--orange);
  text-shadow: 0.1px 0.1px white;
}
