.footerContainer {
  background-color: black;
  color: white;
  height: 22px;
  font-family: 'Ubuntu', sans-serif;
}

.footerMainContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  border-top: var(--orange) solid 0.3px;
}

.hoveredContainer {
  color: black;
  height: 22px;
  cursor: pointer;
}

@media only screen and (max-width: 777px) {
  .restOfText {
    display: none;
  }
}
