.navigation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  padding: 0.5rem 0rem;
  background-color: black;
  color: white;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
  border-bottom: solid white 0.2px;
}

.userBtns {
  margin-right: 5px;
}

.brandName {
  text-decoration: none;
  font-family: 'Updock', cursive;
  text-shadow: 1px 1px red;
  font-size: 2rem;
  margin-left: 1rem;
}

.brandName:hover {
  text-shadow: 1px 1px purple;
}

.navigationMenu {
  margin-left: auto;
}

.navigationMenu ul {
  display: flex;
  align-items: center;
  padding: 0;
}

.navigationMenu ul > * {
  list-style-type: none;
  margin: 0 0.5rem;
}

.navigationMenu li a {
  text-decoration: none;
  display: block;
  width: 100%;
}

.loginBtn {
  background-color: blue;
  color: white;
  padding: 8px 12px;
  margin: 0 3px;
  border: solid white 2px;
  border-radius: 8px;
  cursor: pointer;
}

.loginBtn:hover {
  filter: brightness(85%);
}

.logoutBtn {
  background-color: red;
}

.hamburger > * {
  font-size: 1.6rem;
  transform: translate(-2.5px, -3px);
}

.hamburger:hover {
  background-color: rebeccapurple;
}

.userName {
  position: absolute;
  left: 30%;
  transform: translateX(-50%);
}

.newMediaBtn {
  display: inline-block;
  height: fit-content;
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
}

.newMediaBtn:hover {
  filter: brightness(85%);
}

.getUsernameBtn {
  box-shadow: inset 0 0 50px #fff, /* inner white */ inset 20px 0 80px #f0f,
    /* inner left magenta short */ inset -20px 0 80px #0ff,
    /* inner right cyan short */ inset 20px 0 300px #f0f,
    /* inner left magenta broad */ inset -20px 0 300px #0ff,
    /* inner right cyan broad */ 0 0 50px #fff,
    /* outer white */ -10px 0 80px #f0f,
    /* outer left magenta */ 10px 0 80px #0ff; /* outer right cyan */
}

@media screen and (max-width: 888px) {
  .hamburger {
    display: block;
  }

  .restOfTitle {
    display: none;
  }

  .navigationMenu ul {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: white;
    border-top: 1px solid black;
    display: none;
  }

  .navigationMenu li {
    text-align: center;
    margin: 0;
  }

  .navigationMenu li a {
    color: black;
    width: 100%;
    padding: 1.5rem 0;
  }

  .navigationMenu li:hover {
    background-color: #eee;
  }

  .navigationMenu.expanded ul {
    display: block;
  }
  .userName {
    text-align: center;
    position: absolute;
    right: 50px;
    transform: none;
  }
}
