.navigation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  padding: 0.5rem 0rem;
  background-color: black;
  color: var(--orange);
  box-shadow: 0 2px 2px 2px rgb(227, 105, 10);
}
.navigation > div {
  flex: 1 0 0;
}

.navigation > div:nth-child(2) {
  text-align: center;
}

.languagePicker {
  background-color: black;
  color: var(--orange);
  border: none;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

.languagePicker:hover {
  filter: brightness(85%);
}

.userBtns {
  padding-right: 10px;
  text-align: right;
}

.brandName {
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  text-shadow: 1px 1px rgb(227, 105, 10);
  font-size: 2rem;
  margin-left: 1rem;
}

.brandName:hover {
  color: rgb(227, 105, 10);
  text-shadow: none;
}

.navigationMenu {
  margin-left: auto;
}

.navigationMenu ul {
  display: flex;
  align-items: center;
  padding: 0;
}

.navigationMenu ul > * {
  list-style-type: none;
  margin: 0 0.5rem;
}

.navigationMenu li a {
  text-decoration: none;
  display: block;
  width: 100%;
}

.loginBtn {
  background-color: black;
  color: white;
  padding: 8px 12px;
  margin: 0 3px;
  border: 1px var(--orange) solid;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
}

.loginBtn:hover {
  color: var(--orange);
  text-shadow: 0.1px 0.1px white;
}

.logoutBtn {
  background-color: red;
}

.hamburger > * {
  font-size: 1.6rem;
  transform: translate(-2.5px, -3px);
}

.hamburger:hover {
  background-color: rebeccapurple;
}

.userName {
  position: absolute;
  left: 30%;
  transform: translateX(-50%);
}

.newMediaBtn {
  display: inline-block;
  height: fit-content;
  background-color: black;
}

.restOfName {
  font-size: 1rem;
}

.betaText {
  font-size: 0.5rem;
}

.newMediaBtn:hover {
}

.getUsernameBtn {
}

.logoContainer {
  padding-left: 10px;
}

.logoContainer > * {
  cursor: pointer;
}

@media screen and (max-width: 888px) {
  .hamburger {
    display: block;
  }

  .restOfTitle {
    display: none;
  }

  .navigationMenu ul {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: white;
    border-top: 1px solid black;
    display: none;
  }

  .navigationMenu li {
    text-align: center;
    margin: 0;
  }

  .navigationMenu li a {
    color: black;
    width: 100%;
    padding: 1.5rem 0;
  }

  .navigationMenu li:hover {
    background-color: #eee;
  }

  .navigationMenu.expanded ul {
    display: block;
  }
  .userName {
    text-align: center;
    position: absolute;
    right: 50px;
    transform: none;
  }
}
