.editableNotebookContainer {
  width: 100%;
  margin: 22px 0;
}

.textareaContainer {
  width: 100%;
}

.editableTextAreaFromNotebook {
  padding: 3px;
  width: 80%;
  height: 444px;
  color: white;
  background-color: transparent;
  border: none;
  margin: 0 auto;
}
