.topicsMainContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 8px;
  border-radius: 8px;
  height: 100%;
}
.topicContainer {
  text-align: center;
  cursor: pointer;
  width: 273px;
  border-radius: 5px;
  aspect-ratio: 16/9;
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );

  border: solid white 0.2px;
  margin: 8px;
  padding: 2px 4px;
  box-shadow: 4px 4px black;
}

.topicContainer:hover {
  background-color: rgb(67, 134, 134);
}

.topicContainer:hover span {
  font-size: 2rem;
}

.newMediaTypeContainer {
  text-transform: uppercase;
}

.selectNewMedia {
  background-color: transparent;
  font-size: 2rem;
  width: 100%;
  border: none;
  text-transform: uppercase;
}
