.container {
  width: 100%;
  min-height: calc(100vh - 60px);
  padding: 20px;
  text-align: center;
}

.mediaContainer {
  max-width: 888px;
  margin: 0 auto;
  width: 98%;
}

.playerWrapper {
  position: relative;
  padding-top: 56.25%;
  border-radius: 22px;
  overflow: hidden;
  border: solid white 2.2px;
}

.reactPlayer {
  position: absolute;
  top: 0;
  left: 0;
}

.goBackBtn {
  background-color: blueviolet;
  border: solid black 2px;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  margin: 0 8px;
  text-transform: uppercase;
  cursor: pointer;
}

.shareBtn {
  background-color: rgb(109, 38, 175);
}

.goBackBtn:hover {
  filter: brightness(85%);
}
