.container {
  width: 100%;
  min-height: calc(100vh - 60px);
  padding: 20px;
  text-align: center;
}

.mediaContainer {
  max-width: 888px;
  margin: 0 auto;
  width: 98%;
}

.playerWrapper {
  position: relative;
  padding-top: 56.25%;
  border-radius: 22px;
  overflow: hidden;
  border: solid white 2.2px;
}

.reactPlayer {
  position: absolute;
  top: 0;
  left: 0;
}

.goBackBtn {
  background-color: blueviolet;
  border: solid black 2px;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  margin: 8px;
  text-transform: uppercase;
  cursor: pointer;
}

.shareBtn {
  background-color: rgb(109, 38, 175);
}

.goBackBtn:hover {
  filter: brightness(85%);
}

.randomBtn:hover {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  color: black;
}

.copyUrlMessage {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  -webkit-animation: fadeinout 4s linear forwards;
  animation: fadeinout 4s linear forwards;
}

.mediaDescription {
  margin: 6px 0 3px;
}

@-webkit-keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.buttonsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}
