.container {
  max-width: 777px;
  margin: 0 auto;
  text-align: center;
}

.mainPlayerOuterWrapper {
  height: auto;
  padding: 8px;
  max-width: 100vw;
  aspect-ratio: 16/9;
}

.btnsContainer {
  margin: 8px 0;
}

.btn {
  background-color: blueviolet;
  border: solid black 2px;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  margin: 0 8px;
  text-transform: uppercase;
}

.allElementsBtn {
  background-color: rgb(184, 43, 184);
}

.btn:hover {
  filter: brightness(85%);
}

.mainPlayerOuterWrapper h3 {
  margin: 3px;
  text-transform: uppercase;
}

.playerWrapper {
  border-radius: 22px;
  overflow: hidden;
  border: solid white 2.2px;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  position: relative;
  height: 100%;
}

.gridPlayerWrapper {
  pointer-events: none;
}

.reactPlayer {
  position: absolute;
  top: 0;
  left: 0;
}

.reactPlayer video {
  position: relative;
  left: 0;
  top: 0;
  transform: none;
}

@media only screen and (max-width: 777px) {
  .container {
    width: 98%;
  }
  .playerWrapper {
    width: 100%;
  }
}
