.mediaMenuContainer {
  overflow-y: scroll;
  height: calc(100vh - 66px - 20px);
}
.mediaTypeSelector {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;

  cursor: pointer;
}
.mediaTypeSelector:hover {
  background-color: black;
  color: white;
}

.topicContainer {
  background-color: purple;
  color: white;
}

.selectNewMedia {
  background-color: transparent;
  border: none;
  opacity: 0.8;
  text-transform: uppercase;
  margin: 0 8px;
  font-size: 2rem;
  color: white;
  transform: translateY(1px);
}

.randomBtn {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid grey;
}

.randomBtn:hover {
  background-color: rgb(87, 87, 87);
}
