.newMediaContainer {
  max-width: 100vw;
  max-width: 555px;
  background: black; /* fallback for old browsers */
  border: solid black 1px;
  padding: 1px 8px;
  margin: 0 auto;
  color: var(--orange);
  text-align: center;
  box-shadow: 3px 3px black;
  border-radius: 22px;
  max-height: calc(100vh - 66px - 22px - 10px);
  overflow-y: scroll;
}

.newMediaContainer h4 {
  margin: 0;
}

.formElementContainer {
  background-color: black;
  margin: 4px auto;
  width: 100%;
  border: solid black 1px;
  box-shadow: 2px 2px black;
  padding: 4px;
  overflow-y: scroll;
}

.formElementContainer label {
  display: block;
  font-size: 1.3rem;
  margin: 0 8px;
  text-align: left;
}

.formElementContainer input {
  padding-left: 8px;
  width: 100%;
  background-color: black;
  color: var(--orange);
  border-radius: 8px;
  font-family: 'Ubuntu', sans-serif;
}

.formElementContainer input::placeholder {
  color: var(--orange);
  font-family: 'Ubuntu', sans-serif;
}

.formElement {
  margin: 3px 0;
  width: 333px;
  height: 33px;
  background-color: transparent;
  color: white;
  border: solid black 1px;
  box-shadow: 2px 2px black;
}

.mediatypeType {
  border: solid var(--orange) 1px;
  background-color: black;
  color: white;
  padding: 4px 8px;
  margin: 4px;
  border-radius: 8px;
  cursor: pointer;
}

.mediatypeType:hover {
  color: var(--orange);
}

#selectedMediaType:hover {
  color: white;
}

.mediatypeType:focus {
  border: solid black 2px;
}

.formElementContainer textarea {
  height: 222px;
  width: 100%;
  color: var(--orange);
  padding-left: 8px;
  font-family: 'Ubuntu', sans-serif;
  background-color: black;
  border: solid var(--orange) 0.3px;
  border-radius: 8px;
}

.addBtn {
  background-color: black;
  color: white;
  padding: 8px 12px;
  margin: 0 3px;
  border: 1px var(--orange) solid;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
}

.addBtn:hover {
  color: var(--orange);
}

.goBackBtn:hover {
  color: black;
}

.messageElement {
  color: var(--orange);
  font-size: 0.8rem;
  margin: 0;
  opacity: 1;
  -webkit-transition: opacity 1s ease-in;
  -moz-transition: opacity 1s ease-in;
  -ms-transition: opacity 1s ease-in;
  -o-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
}

.mediatypesOptions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

@media only screen and (max-width: 777px) {
}
