.theInfiniteJestContainer {
  height: calc(100vh - 60px - 22px);
  width: 100%;
}

.playerWrapper {
  position: relative;
  padding-top: 56.25%;
  border-radius: 22px;
  overflow: hidden;
  border: solid white 2.2px;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 3s;
}

.linkBtn:hover {
  color: red;
  text-shadow: 1px 1px yellow;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.reactPlayer {
  position: absolute;
  top: 0;
  left: 0;
}

.recommendationBottomMsg {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 3s;
}

.goBackBtn {
  background-color: blueviolet;
  color: white;
  border: solid black 2px;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  margin-top: 8px;
  margin-right: 4px;
  text-transform: uppercase;
  cursor: pointer;
}

.goBackBtn:hover {
  filter: brightness(85%);
}

.randomBtn:hover {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  color: black;
}

.sharedTextMessage {
  margin: 0;
  -webkit-animation: fadeinout 4s linear forwards;
  animation: fadeinout 4s linear forwards;
}

@-webkit-keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
