.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 888px;
  margin: 0 auto;
}

.container input {
  background-color: aliceblue;
  border: dashed 2px black;
  width: 222px;
  height: 44px;
  border-radius: 8px;
  font-size: 2rem;
  margin-bottom: 8px;
  padding: 0 4px;
}

.newMediaBtn {
  border: solid white 0.2px;
  margin: 8px auto;
  padding: 4px 8px;
  border-radius: 8px;
  box-shadow: 4px 4px black;
}

.newMediaBtn:hover {
  color: var(--orange);
}

.theInfiniteJest {
  text-decoration: none;
  font-family: 'Updock', cursive;
  text-shadow: 1px 1px red;
  font-size: 2rem;
  margin-right: 4px;
}
