.mainContainer {
  max-height: calc(100vh - 60px - 22px);
}

.firstSection {
  width: 100%;
  text-align: center;
  color: white;
}

.playerLayoutWrapper {
  margin: 0 auto;
  padding-top: 44px;
  width: 90%;
  height: 100%;
  max-width: 888px;
  border-radius: 22px;
  text-align: center;
}
