.mainContainer {
  height: calc(100vh - 60px - 22px);
}

.firstSection {
  width: 100%;
  text-align: center;
  color: white;
}

.playerLayoutWrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 888px;
  border-radius: 22px;
  padding-top: 40px;
  text-align: center;
}

.firstSection > * {
  margin: 0 auto;
}

.firstSection h4 {
  min-width: 333px;
  margin: 0 auto;
}

.firstSection h2 {
  font-size: 3rem;
  width: 60%;
  margin: 30px auto;
}

.locationsContainer {
  display: flex;
  margin: 0 auto;
  max-width: 777px;
  justify-content: center;
  flex-wrap: wrap;
}

.secondSection {
  height: 100vh;
  width: 100%;
  background: url('https://images.unsplash.com/photo-1562504208-03d85cc8c23e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  text-align: center;
  color: white;
}

.secondSection h1 {
  padding-top: 22px;
  font-family: 'Indie Flower', cursive;
  letter-spacing: 1.1rem;
}

.thirdSection {
  height: 100vh;
  width: 100%;
  border: solid black 33px;
}

.membersContainer {
  display: flex;
  margin-top: 16px;
  justify-content: center;
}

@media only screen and (max-width: 666px) {
  .firstSection > * {
    width: 90%;
  }

  .firstSection h2 {
    margin: 0 auto;
    font-size: 2rem;
  }
}
