.container {
  height: 100%;
}

.topicsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.topicContainer {
  cursor: pointer;
  width: 273px;
  border-radius: 22px;
  overflow: hidden;
  border: solid white 2px;
  aspect-ratio: 16/9;
  background-color: #292932;
  margin: 8px;
  color: white;
  padding: 2px 4px;
  text-transform: uppercase;
  text-align: center;
}

.newTopicContainer:hover {
  filter: brightness(70%);
}
.topicContainer h3 {
  margin: 3px;
}

.playerWrapper {
  position: relative;
  height: 100%;
}

.gridPlayerWrapper {
  pointer-events: none;
}

.reactPlayer {
  position: absolute;
  top: 0;
  left: 0;
}

.reactPlayer video {
  position: relative;
  left: 0;
  top: 0;
  transform: none;
}

.topicsMainContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 98%;
  margin: 0 auto;
  background-color: aliceblue;
  padding: 8px;
  border-radius: 8px;
}

.backBtn {
  background-color: rgb(93, 156, 154);
  padding: 4px 8px;
  border: solid black 1px;
  border-radius: 8px;
  margin: 0 auto;
  display: block;
  width: fit-content;
}

.backBtn:hover {
  background-color: rgb(43, 180, 226);
  box-shadow: 1px 1px black;
}
