.mainContainer {
  height: 100vh;
  width: 777px;
  margin: 0 auto;
  background-color: palevioletred;
  text-align: center;
  color: white;
  padding: 8px;
}

.mainTitle {
  margin: 10px;
  padding: 2px 0;
  text-align: center;
  background-color: blanchedalmond;
  border-bottom: 1px solid black;
  margin: 0;
}

.headerSection {
  width: 100%;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: purple;
  color: white;
  margin-bottom: 10px;
}

.formElement {
  width: 100%;
}

.formElement > * {
  display: block;
  margin: 0 auto;
  width: 88%;
  height: 33px;
  border-radius: 8px;
}

.mediaDescription {
  height: 222px;
}
