.mainContainer {
  max-width: 100vw;
  width: 98%;
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  text-align: center;
  border: solid black 1px;
  border-radius: 8px;
}

.providerBtnsContainer {
  display: flex;
}

.providerBtnContainer {
  margin: 12px;
}

.providerBtnContainer:hover {
  filter: brightness(85%);
}

.googleIcon {
  font-size: 1.5rem;
  margin-right: 4px;
}

.providerBtnContainer .signInBtn {
  border: solid black 1px;
  background: rgb(207, 207, 207);
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 1.3rem;
  cursor: pointer;
}

.signInBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signInBtn > * {
  font-size: 2rem;
}

.signInBtn:hover {
  transform: translateY(-2px);
  filter: brightness(85%);
}

.signInBtn:active {
  transform: translateY(-1px);
}
